<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horaoen.smart_safe_campus.mbg.mapper.OrganizationMapper">
  <resultMap id="BaseResultMap" type="com.horaoen.smart_safe_campus.mbg.model.Organization">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="organ_name" jdbcType="VARCHAR" property="organName" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="organ_id" jdbcType="VARCHAR" property="organId" />
    <result column="organ_type" jdbcType="INTEGER" property="organType" />
    <result column="order_field" jdbcType="BIGINT" property="orderField" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, organ_name, parent_id, organ_id, organ_type, order_field
  </sql>
  <select id="selectByExample" parameterType="com.horaoen.smart_safe_campus.mbg.model.OrganizationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_organization
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_organization
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.horaoen.smart_safe_campus.mbg.model.OrganizationExample">
    delete from tbl_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_organization (id, organ_name, parent_id, 
      organ_id, organ_type, order_field
      )
    values (#{id,jdbcType=BIGINT}, #{organName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{organId,jdbcType=VARCHAR}, #{organType,jdbcType=INTEGER}, #{orderField,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="organName != null">
        organ_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="organId != null">
        organ_id,
      </if>
      <if test="organType != null">
        organ_type,
      </if>
      <if test="orderField != null">
        order_field,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="organName != null">
        #{organName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="organId != null">
        #{organId,jdbcType=VARCHAR},
      </if>
      <if test="organType != null">
        #{organType,jdbcType=INTEGER},
      </if>
      <if test="orderField != null">
        #{orderField,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.horaoen.smart_safe_campus.mbg.model.OrganizationExample" resultType="java.lang.Long">
    select count(*) from tbl_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_organization
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.organName != null">
        organ_name = #{row.organName,jdbcType=VARCHAR},
      </if>
      <if test="row.parentId != null">
        parent_id = #{row.parentId,jdbcType=VARCHAR},
      </if>
      <if test="row.organId != null">
        organ_id = #{row.organId,jdbcType=VARCHAR},
      </if>
      <if test="row.organType != null">
        organ_type = #{row.organType,jdbcType=INTEGER},
      </if>
      <if test="row.orderField != null">
        order_field = #{row.orderField,jdbcType=BIGINT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_organization
    set id = #{row.id,jdbcType=BIGINT},
      organ_name = #{row.organName,jdbcType=VARCHAR},
      parent_id = #{row.parentId,jdbcType=VARCHAR},
      organ_id = #{row.organId,jdbcType=VARCHAR},
      organ_type = #{row.organType,jdbcType=INTEGER},
      order_field = #{row.orderField,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    update tbl_organization
    <set>
      <if test="organName != null">
        organ_name = #{organName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="organId != null">
        organ_id = #{organId,jdbcType=VARCHAR},
      </if>
      <if test="organType != null">
        organ_type = #{organType,jdbcType=INTEGER},
      </if>
      <if test="orderField != null">
        order_field = #{orderField,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    update tbl_organization
    set organ_name = #{organName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      organ_id = #{organId,jdbcType=VARCHAR},
      organ_type = #{organType,jdbcType=INTEGER},
      order_field = #{orderField,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.horaoen.smart_safe_campus.mbg.model.Organization">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="organ_name" jdbcType="VARCHAR" property="organName" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="organ_id" jdbcType="VARCHAR" property="organId" />
    <result column="organ_type" jdbcType="INTEGER" property="organType" />
    <result column="order_field" jdbcType="BIGINT" property="orderField" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, organ_name, parent_id, organ_id, organ_type, order_field
  </sql>
  <select id="selectByExample" parameterType="com.horaoen.smart_safe_campus.mbg.model.OrganizationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_organization
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_organization
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.horaoen.smart_safe_campus.mbg.model.OrganizationExample">
    delete from tbl_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_organization (id, organ_name, parent_id, 
      organ_id, organ_type, order_field
      )
    values (#{id,jdbcType=INTEGER}, #{organName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{organId,jdbcType=VARCHAR}, #{organType,jdbcType=INTEGER}, #{orderField,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="organName != null">
        organ_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="organId != null">
        organ_id,
      </if>
      <if test="organType != null">
        organ_type,
      </if>
      <if test="orderField != null">
        order_field,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="organName != null">
        #{organName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="organId != null">
        #{organId,jdbcType=VARCHAR},
      </if>
      <if test="organType != null">
        #{organType,jdbcType=INTEGER},
      </if>
      <if test="orderField != null">
        #{orderField,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.horaoen.smart_safe_campus.mbg.model.OrganizationExample" resultType="java.lang.Long">
    select count(*) from tbl_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_organization
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.organName != null">
        organ_name = #{row.organName,jdbcType=VARCHAR},
      </if>
      <if test="row.parentId != null">
        parent_id = #{row.parentId,jdbcType=VARCHAR},
      </if>
      <if test="row.organId != null">
        organ_id = #{row.organId,jdbcType=VARCHAR},
      </if>
      <if test="row.organType != null">
        organ_type = #{row.organType,jdbcType=INTEGER},
      </if>
      <if test="row.orderField != null">
        order_field = #{row.orderField,jdbcType=BIGINT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_organization
    set id = #{row.id,jdbcType=INTEGER},
      organ_name = #{row.organName,jdbcType=VARCHAR},
      parent_id = #{row.parentId,jdbcType=VARCHAR},
      organ_id = #{row.organId,jdbcType=VARCHAR},
      organ_type = #{row.organType,jdbcType=INTEGER},
      order_field = #{row.orderField,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    update tbl_organization
    <set>
      <if test="organName != null">
        organ_name = #{organName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="organId != null">
        organ_id = #{organId,jdbcType=VARCHAR},
      </if>
      <if test="organType != null">
        organ_type = #{organType,jdbcType=INTEGER},
      </if>
      <if test="orderField != null">
        order_field = #{orderField,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    update tbl_organization
    set organ_name = #{organName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      organ_id = #{organId,jdbcType=VARCHAR},
      organ_type = #{organType,jdbcType=INTEGER},
      order_field = #{orderField,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.horaoen.smart_safe_campus.mbg.model.Organization">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="organ_name" jdbcType="VARCHAR" property="organName" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="organ_id" jdbcType="VARCHAR" property="organId" />
    <result column="organ_type" jdbcType="INTEGER" property="organType" />
    <result column="order_field" jdbcType="BIGINT" property="orderField" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, organ_name, parent_id, organ_id, organ_type, order_field
  </sql>
  <select id="selectByExample" parameterType="com.horaoen.smart_safe_campus.mbg.model.OrganizationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_organization
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_organization
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.horaoen.smart_safe_campus.mbg.model.OrganizationExample">
    delete from tbl_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_organization (id, organ_name, parent_id, 
      organ_id, organ_type, order_field
      )
    values (#{id,jdbcType=INTEGER}, #{organName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{organId,jdbcType=VARCHAR}, #{organType,jdbcType=INTEGER}, #{orderField,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="organName != null">
        organ_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="organId != null">
        organ_id,
      </if>
      <if test="organType != null">
        organ_type,
      </if>
      <if test="orderField != null">
        order_field,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="organName != null">
        #{organName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="organId != null">
        #{organId,jdbcType=VARCHAR},
      </if>
      <if test="organType != null">
        #{organType,jdbcType=INTEGER},
      </if>
      <if test="orderField != null">
        #{orderField,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.horaoen.smart_safe_campus.mbg.model.OrganizationExample" resultType="java.lang.Long">
    select count(*) from tbl_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_organization
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.organName != null">
        organ_name = #{row.organName,jdbcType=VARCHAR},
      </if>
      <if test="row.parentId != null">
        parent_id = #{row.parentId,jdbcType=VARCHAR},
      </if>
      <if test="row.organId != null">
        organ_id = #{row.organId,jdbcType=VARCHAR},
      </if>
      <if test="row.organType != null">
        organ_type = #{row.organType,jdbcType=INTEGER},
      </if>
      <if test="row.orderField != null">
        order_field = #{row.orderField,jdbcType=BIGINT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_organization
    set id = #{row.id,jdbcType=INTEGER},
      organ_name = #{row.organName,jdbcType=VARCHAR},
      parent_id = #{row.parentId,jdbcType=VARCHAR},
      organ_id = #{row.organId,jdbcType=VARCHAR},
      organ_type = #{row.organType,jdbcType=INTEGER},
      order_field = #{row.orderField,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    update tbl_organization
    <set>
      <if test="organName != null">
        organ_name = #{organName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="organId != null">
        organ_id = #{organId,jdbcType=VARCHAR},
      </if>
      <if test="organType != null">
        organ_type = #{organType,jdbcType=INTEGER},
      </if>
      <if test="orderField != null">
        order_field = #{orderField,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    update tbl_organization
    set organ_name = #{organName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      organ_id = #{organId,jdbcType=VARCHAR},
      organ_type = #{organType,jdbcType=INTEGER},
      order_field = #{orderField,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.horaoen.smart_safe_campus.mbg.model.Organization">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="organ_name" jdbcType="VARCHAR" property="organName" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="organ_id" jdbcType="VARCHAR" property="organId" />
    <result column="organ_type" jdbcType="INTEGER" property="organType" />
    <result column="order_field" jdbcType="BIGINT" property="orderField" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, organ_name, parent_id, organ_id, organ_type, order_field
  </sql>
  <select id="selectByExample" parameterType="com.horaoen.smart_safe_campus.mbg.model.OrganizationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_organization
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_organization
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.horaoen.smart_safe_campus.mbg.model.OrganizationExample">
    delete from tbl_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_organization (id, organ_name, parent_id, 
      organ_id, organ_type, order_field
      )
    values (#{id,jdbcType=INTEGER}, #{organName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{organId,jdbcType=VARCHAR}, #{organType,jdbcType=INTEGER}, #{orderField,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="organName != null">
        organ_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="organId != null">
        organ_id,
      </if>
      <if test="organType != null">
        organ_type,
      </if>
      <if test="orderField != null">
        order_field,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="organName != null">
        #{organName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="organId != null">
        #{organId,jdbcType=VARCHAR},
      </if>
      <if test="organType != null">
        #{organType,jdbcType=INTEGER},
      </if>
      <if test="orderField != null">
        #{orderField,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.horaoen.smart_safe_campus.mbg.model.OrganizationExample" resultType="java.lang.Long">
    select count(*) from tbl_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_organization
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.organName != null">
        organ_name = #{row.organName,jdbcType=VARCHAR},
      </if>
      <if test="row.parentId != null">
        parent_id = #{row.parentId,jdbcType=VARCHAR},
      </if>
      <if test="row.organId != null">
        organ_id = #{row.organId,jdbcType=VARCHAR},
      </if>
      <if test="row.organType != null">
        organ_type = #{row.organType,jdbcType=INTEGER},
      </if>
      <if test="row.orderField != null">
        order_field = #{row.orderField,jdbcType=BIGINT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_organization
    set id = #{row.id,jdbcType=INTEGER},
      organ_name = #{row.organName,jdbcType=VARCHAR},
      parent_id = #{row.parentId,jdbcType=VARCHAR},
      organ_id = #{row.organId,jdbcType=VARCHAR},
      organ_type = #{row.organType,jdbcType=INTEGER},
      order_field = #{row.orderField,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    update tbl_organization
    <set>
      <if test="organName != null">
        organ_name = #{organName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="organId != null">
        organ_id = #{organId,jdbcType=VARCHAR},
      </if>
      <if test="organType != null">
        organ_type = #{organType,jdbcType=INTEGER},
      </if>
      <if test="orderField != null">
        order_field = #{orderField,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    update tbl_organization
    set organ_name = #{organName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      organ_id = #{organId,jdbcType=VARCHAR},
      organ_type = #{organType,jdbcType=INTEGER},
      order_field = #{orderField,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.horaoen.smart_safe_campus.mbg.model.OrganizationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <resultMap id="BaseResultMap" type="com.horaoen.smart_safe_campus.mbg.model.Organization">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="organ_name" jdbcType="VARCHAR" property="organName" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="organ_id" jdbcType="OTHER" property="organId" />
    <result column="organ_type" jdbcType="INTEGER" property="organType" />
    <result column="order_field" jdbcType="BIGINT" property="orderField" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, organ_name, parent_id, organ_id, organ_type, order_field
  </sql>
  <select id="selectByExample" parameterType="com.horaoen.smart_safe_campus.mbg.model.OrganizationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_organization
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_organization
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.horaoen.smart_safe_campus.mbg.model.OrganizationExample">
    delete from tbl_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_organization (id, organ_name, parent_id, 
      organ_id, organ_type, order_field
      )
    values (#{id,jdbcType=INTEGER}, #{organName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{organId,jdbcType=OTHER}, #{organType,jdbcType=INTEGER}, #{orderField,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="organName != null">
        organ_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="organId != null">
        organ_id,
      </if>
      <if test="organType != null">
        organ_type,
      </if>
      <if test="orderField != null">
        order_field,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="organName != null">
        #{organName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="organId != null">
        #{organId,jdbcType=OTHER},
      </if>
      <if test="organType != null">
        #{organType,jdbcType=INTEGER},
      </if>
      <if test="orderField != null">
        #{orderField,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.horaoen.smart_safe_campus.mbg.model.OrganizationExample" resultType="java.lang.Long">
    select count(*) from tbl_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_organization
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.organName != null">
        organ_name = #{row.organName,jdbcType=VARCHAR},
      </if>
      <if test="row.parentId != null">
        parent_id = #{row.parentId,jdbcType=VARCHAR},
      </if>
      <if test="row.organId != null">
        organ_id = #{row.organId,jdbcType=OTHER},
      </if>
      <if test="row.organType != null">
        organ_type = #{row.organType,jdbcType=INTEGER},
      </if>
      <if test="row.orderField != null">
        order_field = #{row.orderField,jdbcType=BIGINT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_organization
    set id = #{row.id,jdbcType=INTEGER},
      organ_name = #{row.organName,jdbcType=VARCHAR},
      parent_id = #{row.parentId,jdbcType=VARCHAR},
      organ_id = #{row.organId,jdbcType=OTHER},
      organ_type = #{row.organType,jdbcType=INTEGER},
      order_field = #{row.orderField,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    update tbl_organization
    <set>
      <if test="organName != null">
        organ_name = #{organName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="organId != null">
        organ_id = #{organId,jdbcType=OTHER},
      </if>
      <if test="organType != null">
        organ_type = #{organType,jdbcType=INTEGER},
      </if>
      <if test="orderField != null">
        order_field = #{orderField,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.horaoen.smart_safe_campus.mbg.model.Organization">
    update tbl_organization
    set organ_name = #{organName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      organ_id = #{organId,jdbcType=OTHER},
      organ_type = #{organType,jdbcType=INTEGER},
      order_field = #{orderField,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>